<div class="container">

    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">NAME</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">USER-NAME</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


<!-- 
<div class="row ">
    <div class="col m-3">
      <input type="text" class="form-control" placeholder="Enter name" name="name">
    </div>
    <div class="col m-3">
      <input type="text" class="form-control" placeholder="Enter username" name="username">
    </div>
    <div class="col m-3">
      <input type="text" class="form-control" placeholder="Enter email" name="email">
    </div>
</div>
<button type="submit" class="btn btn-primary m-3">Submit</button>
 -->